$I3CONFIG

# When changing this information, be sure you don't remove the tildes!
# Set autoconnect to 1 to automatically connect at bootup.
# This information can be edited online using 'i3 config'
thismud      mc2 clone~
autoconnect  0
telnet       mymudishere.com 4000~
web          www.mindcloud.com~
adminemail   spank@me.com~
openstatus   Development~
mudtype      Godwars~
basemudlib   Dystopia~
mudlib       mcloud 2.0~
minlevel     3
immlevel     10
adminlevel   11
implevel     12

# Router connections. Your primary choice should be listed first.
router *gjs us-1.i3.intermud.org 9000
router *arthmoor i3.arthmoor.com 9900

# Information below this point cannot be edited online.
# The services provided by your mud.
# Do not turn things on unless you KNOW your mud properly supports them!
# Refer to http://cie.imaginary.com/protocols/intermud3.html for public packet specifications.
tell         1
beep         1
emoteto      1
who          1
finger       1
locate       1
channel      1
news         0
mail         0
file         0
auth         0
ucache       1

# Port numbers for OOB services. Leave as 0 if your mud does not support these.
smtp         0
ftp          0
nntp         0
http         0
pop3         0
rcp          0
amrcp        0
end
$END
